/* INÍCIO HEADER*/
/**{
    
}*/

body{
    font-family: "Elms Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1, 
h2, 
h3{
    font-family: "Playfair Display", serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: black;
    font-size: 18px;
    align-items: center;
    margin: 30px 20px 30px 20px;
    list-style: none;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.navbar a:hover{    
    color: #8a6344;
}

.navbar_esquerda{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: left;
    align-items: center;
    gap: 50px;
}

.navbar .Contato{
    background-color: #b99573;
    width: 110px;
    height: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction:row;
    align-items: center;
    color: white;
    justify-content:center;
    padding: 0px 15px 0px 15px;
    margin: 0px 0px 0px 0px;
}

.navbar_direita{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: right;
    align-items: center;
    gap: 50px;
}

.navbar .img-logo3{
    width:300px;
}

.button_login{
    border: 2px;
    border-style:solid;
    border-color: #b99573;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-between;
    padding: 0px 15px 0px 15px;

}

.navbar .img-login{
    width: 20px;
}
/* FIM HEADER*/


/*INICIO CONTATOS*/
.body_contatos{
    display: flex;
    flex-direction: row;
    gap: 150px;
    margin: 30px 0px 30px 150px;
    align-items: center;
}

.texto_contatos{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.img-contato{
    display: flex;
    width: 900px;
}

.img-email,
.img-telefone,
.img-instagram{
    display: flex;
    width: 50px;
}

.telefone,
.email,
.instagram{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

/* FIM CONTATOS */


/* INÍCIO FOOTER*/
.divider{
    border: none; 
    border-top: 1px solid #b99573;
    margin: 20px 0px 20px 0px; 
    width: 100%;
}


.footer{
    display: flex;
    flex-direction: column;
    color:#8a6344;
}

.footer_body{
    display: flex;
    flex-direction: row;
    gap: 300px;
    margin: 30px 20px 30px 20px;
    align-items: top;
}

.footer_body .contatos{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
}

.footer_body .ajuda{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
}


.footer_body .dados_empresa{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    width: 400px;
}

.footer .footer_botton{
    display: flex;
    flex-direction: column;
}

.footer .button_politicas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 500px 0px 500px;
}

.footer .texto_politicas{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*FIM FOOTER*/