/* INÍCIO HEADER*/
/**{
    
}*/

body{
    font-family: "Work Sans", sans-serif;
}

h1, 
h2, 
h3{
    font-family: "Playfair Display", serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: black;
    font-size: 18px;
    align-items: center;
    margin: 30px 20px 30px 20px;
    list-style: none;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.navbar a:hover{    
    color: #8a6344;
}

.navbar_esquerda{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: left;
    align-items: center;
    gap: 50px;
}

.navbar .HomePage{
    background-color: #b99573;
    width: 110px;
    height: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction:row;
    align-items: center;
    color: white;
    justify-content:center;
    padding: 0px 15px 0px 15px;
    margin: 0px 0px 0px 0px;
}

.navbar_direita{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: right;
    align-items: center;
    gap: 50px;
}

.navbar .img-logo3{
    width:300px;
}

.button_login{
    border: 2px;
    border-style:solid;
    border-color: #b99573;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-between;
    padding: 0px 15px 0px 15px;

}

.navbar .img-login{
    width: 20px;
}
/* FIM HEADER*/

/* INÍCIO HOMEPAGE*/

.banner{
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
}

.banner .img-capa{
    z-index:1;
    width: 100%;
    border-radius: 20px;
}

.banner .texto_capa{
    z-index:2;
    font-size: 24px;
    color: white;
    display:flex;
    justify-content: left;
    position:absolute;
    font-weight:bold;
    padding: 160px 1000px 0px 110px;
}

.exemplos{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 15px 0px 0px 0px;
}

.exemplos .promocao{
    background-color: #b99573;
    border-radius: 20px;
    color:white;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
}

.exemplos .button_promocao{
    display:flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    justify-content: space-between;
    
}

.exemplos .button_promocao a{
    text-decoration: none;
    color:white;
}

.exemplos .button_promocao .cadastro{
    background-color: #8a6344;
    width: 90px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    flex-direction:row;
    align-items: center;
    text-align: center;
    color: white;
    justify-content:center;
    padding: 0px 15px 0px 15px;
    margin: 0px 0px 0px 0px;
}

.exemplos .button_promocao .saiba_mais{
    border: 2px;
    border-style: solid;
    border-color: #8a6344;
    width: 90px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    flex-direction:row;
    align-items: center;
    color: white;
    justify-content:center;
    padding: 0px 15px 0px 15px;
    margin: 0px 0px 0px 0px;
}

.exemplos .img-crianca,
.exemplos .img-familia,
.exemplos .img-album2
{
    height: 250px;
    border-radius: 20px;
}

.significado_umui{
    background-color:#b99573;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 50px 80px 50px 80px;
    gap: 60px;
}

.img-logo2{
    width: 160px;
    margin: 0px 0px 0px 20px;
}

.img-umui{
    width: 500px;
    border-radius: 20px;
}

/*.como_funciona{
}*/



/* INÍCIO FOOTER*/
.divider{
    border: none; 
    border-top: 1px solid #b99573;
    margin: 20px 0px 20px 0px; 
    width: 100%;
}


.footer{
    display: flex;
    flex-direction: column;
    background-color: #b99573;
    color: white
}

.footer_body{
    display: flex;
    flex-direction: row;
    gap: 300px;
    margin: 30px 10px 30px 20px;
}

.footer_body .contatos{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer_body .dados_empresa{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
}

.footer .footer_botton{
    display: flex;
    flex-direction: column;
}

.footer .button_politicas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 500px 0px 500px;
}

.footer .texto_politicas{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*FIM FOOTER*/


