/* INÍCIO NAVBAR*/

body{
    font-family: "Elms Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    padding: 0px;
}

h1, 
h2, 
h3{
    font-family: "Playfair Display", serif;
}

.body_atividade{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0px 0px 0px 0px;
}

.barra_lateral{
    display: flex;
    flex-direction: column;
    width: 400px;
    box-shadow: 0 4px 8px #8a6344;
    background-color: white;
    font-size: 16px;
    flex: 1;
}

.navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: black;
    align-items: center;
    list-style: none;
    padding: 0px 0px 0px 30px;
    gap: 260px;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.navbar a:hover{    
    color: #8a6344;
}

.navbar_topo{
    gap: 50px;
}

.navbar .atividade{
    background-color: #b99573;
    width: 110px;
    height: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction:row;
    align-items: center;
    color: white;
    justify-content:center;
    padding: 0px 15px 0px 15px;
    margin: 0px 0px 0px 0px;
}

.navbar .img-logo{
    width:200px;
}

.button_login{
    border: 2px;
    border-style:solid;
    border-color: #b99573;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-between;
    padding: 0px 15px 0px 15px;

}

.button_sair{
    display: flex;
    align-items: center;
    gap: 20px;
}

.img-exit,
.img-telefone,
.img-instagram,
.img-email{
    width: 20px;
}

.divider{
    border: none; 
    border-top: 1px solid #b99573;
    margin: 20px 0px 20px 0px; 
    width: 100%;
}

.atividade{
    flex: 2;
    display: flex;
    flex-direction: row;
    width: 1155px;
    gap: 40px;
    padding: 0px 0px 0px 50px;
}
/* FIM NAVBAR*/


/*INICIO ATIVIDADE*/
.img-header_dashboard{
    display: flex;
    width: 1155px;
}

.atividade1{
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 800px;
}

.atividade1 h3{
    color:#b99573
}

.atividade1 .descricao{
    display: flex;
    height: 420px;
}

.button_checkbox{
    display: flex;
    width: 250px;
    height: 80px;
    color:white;
    background-color: #b99573;
    border-radius: 14px;
    border-style: solid;
    border-color:#b99573;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: "Elms Sans", sans-serif;
    gap: 10px;
}

.checkbox_concluido{
    display: flex;
    color: #b99573;
    width: 18px;
    height: 18px;
}

.img-atividade1{
    display: flex;
    width: 600px;
}

/* FIM ATIVIDADE*/