/* INÍCIO HEADER*/
/**{
    
}*/

body{
    font-family: "Elms Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1, 
h2, 
h3{
    font-family: "Playfair Display", serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: black;
    font-size: 18px;
    align-items: center;
    margin: 30px 20px 30px 20px;
    list-style: none;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.navbar a:hover{    
    color: #8a6344;
}

.navbar_esquerda{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: left;
    align-items: center;
    gap: 50px;
}

.navbar .HomePage{
    background-color: #b99573;
    width: 110px;
    height: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction:row;
    align-items: center;
    color: white;
    justify-content:center;
    padding: 0px 15px 0px 15px;
    margin: 0px 0px 0px 0px;
}

.navbar_direita{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: right;
    align-items: center;
    gap: 50px;
}

.navbar .img-logo3{
    width:300px;
}

.button_login{
    border: 2px;
    border-style:solid;
    border-color: #b99573;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-between;
    padding: 0px 15px 0px 15px;

}

.navbar .img-login{
    width: 20px;
}
/* FIM HEADER*/

/* INÍCIO HOMEPAGE*/

.banner{
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
}

.banner .img-capa{
    z-index:1;
    width: 100%;
    border-radius: 20px;
}

.banner .texto_capa{
    z-index:2;
    font-size: 24px;
    color: white;
    display:flex;
    justify-content: left;
    position:absolute;
    font-weight:bold;
    padding: 160px 1000px 0px 110px;
}

.exemplos{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 15px 0px 0px 0px;
}

.exemplos .promocao{
    background-color: #b99573;
    border-radius: 20px;
    color:white;
    display: flex;
    flex-direction: column;
    padding: 5px 20px 15px 20px;
}

.exemplos .button_promocao{
    display:flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    justify-content: space-between;
    
}

.exemplos .button_promocao a{
    text-decoration: none;
    color:white;
}

.exemplos .button_promocao .cadastro{
    background-color: #8a6344;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    flex-direction:row;
    align-items: center;
    text-align: center;
    color: white;
    justify-content:center;
    padding: 0px 15px 0px 15px;
    margin: 0px 0px 0px 0px;
}

.exemplos .button_promocao .saiba_mais{
    border: 2px;
    border-style: solid;
    border-color: #8a6344;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    flex-direction:row;
    align-items: center;
    color: white;
    justify-content:center;
    padding: 0px 15px 0px 15px;
    margin: 0px 0px 0px 0px;
}

.exemplos .img-crianca,
.exemplos .img-familia,
.exemplos .img-album2
{
    height: 250px;
    border-radius: 20px;
}

.body_modelos{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.exemplo_modelos{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    gap: 60px;
}

.exemplo_modelos .scrapbook,
.exemplo_modelos .livro,
.exemplo_modelos .photobook{
    width: 400px;
}

.img-livro,
.img-scrapbook,
.img-photobook{
    width: 400px;
}



.como_funciona{
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin: 30px 5px 30px 5px;
}

.img-diagrama{
    display: flex;
    width: 1500px;
    justify-content: center;
}

.body_como_funciona{
    display: flex;
    flex-direction: column;
    background-color: #b99573;
    color: white;
    border-radius: 14px;
    padding: 10px 30px 20px 30px;
}

.grafico_kpi{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}

.kpi{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.grafico{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.grafico1{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.metricas{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.kpi_quantidade,
.kpi_estilo{
    display: flex;
    flex-direction: column;
    background-color: #b99573;
    border-radius: 14px;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    height: 150px;
    width: 300px;
    text-align: center;
}

.texto_estilo,
.texto_quantidade{
    font-size: 50px;
    color: white;
}


/* INÍCIO FOOTER*/
.divider{
    border: none; 
    border-top: 1px solid #b99573;
    margin: 20px 0px 20px 0px; 
    width: 100%;
}


.footer{
    display: flex;
    flex-direction: column;
    color:#8a6344;
}

.footer_body{
    display: flex;
    flex-direction: row;
    gap: 300px;
    margin: 30px 20px 30px 20px;
    align-items: top;
}

.footer_body .contatos{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
}

.footer_body .ajuda{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
}


.footer_body .dados_empresa{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    width: 400px;
}

.footer .footer_botton{
    display: flex;
    flex-direction: column;
}

.footer .button_politicas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 500px 0px 500px;
}

.footer .texto_politicas{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*FIM FOOTER*/


